<html>
<head>
  <title>Backchat</title>
</head>
<body>

  <article id='backchat-app' data-key='<%= pusherKey %>'>
    <div class='row'>
      <div class='col-md-4 col-md-offset-4 messages-section large-margin-top large-margin-bottom'>
        <div class='outer-phone'>
          <div class='phone-marginals'></div>
          <div class='inner-phone'>
            <div id='messages-list' class='messages-list'></div>

            <section class='input-area medium-padding'>
              <div class='row'>
                <div class='col-md-4'>
                  <input placeholder='Name...' type='text' class='author-input input-field' id='new-author' />
                </div>
              </div>

              <div class='row medium-margin-top'>
                <div class='col-md-10'>
                  <textarea placeholder='Message...' class='content-input input-field' id='new-content'></textarea>
                </div>
                <div class='col-md-2 no-padding-left'>
                  <div class='large-margin-top'>
                    <button class='submit btn btn-primary' id='submit'>Send</button>
                  </div>
                </div>
              </div>
            </section>

          </div>
          <div class='phone-marginals'>
            <div class='row'>
              <div class='col-md-offset-5 col-md-2'>
                <div class='home-button'>
                  <div class='home-square'>□</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <script type="text/template" id='message-template'>
    <div class='author'></div>
    <div class='content'></div>
  </script>
  <script src="https://js.pusher.com/3.2/pusher.min.js"></script>
  <script src='node_modules/underscore/underscore-min.js'></script>
  <script src='node_modules/jquery/dist/jquery.min.js'></script>
  <script src='node_modules/backbone/backbone-min.js'></script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <script src='/javascripts/backpusher.js'></script>
  <script src='js/backchat.js'></script>
  <script src='js/models/message.js'></script>
  <script src='js/collections/messages.js'></script>
  <script src='js/views/backchat.js'></script>
  <script src='js/views/message.js'></script>
</body>
</html>